
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: auto;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

::-moz-selection {
    background: #ededed;
    text-shadow: none;
}

::selection {
    background: #ededed;
    text-shadow: none;
}

img {
    vertical-align: middle;
    width:100%;
}

a {
  text-decoration: none;
}

a img {border: 0;}

/* Body */

body {
  font-size: 16px;
  font-family: 'Georgia', serif;
  font-size-adjust:0.508; 
  font-weight:normal; 
  font-style:normal;
  line-height: 170%;
  color: #444;
  background:#fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

/* Global */

a {
  color: #444;
  padding-bottom: 3px;
  border-bottom: solid 1px #2156ec;
}

a:hover {
  color:#17327f;
  cursor: pointer;
}

img a {
  border:0;
  text-decoration:none;
  border: none;
}

img a:hover {
  opacity:0.8;
}

/* Main Content */

#wrapper {
  width: 100%;
}

#wrapper #foot {
  border-top: #e5e5e5 1px solid;
}

#wrapper section {
  width: 100%;
  float: left;
}

/* Header */

#wrapper #head {
  margin-bottom: 30px;
  height:100px;
  background: #0d0f12;
  width: 100%; 
  overflow: hidden;
  z-index: 2;
  text-align: center;
}

#wrapper #homehead {
  z-index: 1000;
  margin-bottom: 30px;
  height:100px;
  background: none;
  width: 100%; 
  overflow: hidden;
  position: relative;
  text-align: center;
  position: absolute;
}

/* Header */

header {
    max-width: 1000px;
    padding: 0 30px;
    transition: 0.3s;
}

.header {
    height:80px;
    width: 100%; 
    overflow: hidden;
    position: relative;
    background: #0d0f12;
    box-sizing: border-box;
}

#banner {
  height:100px;
  background: #0d0f12;
  width: 100%; 
  overflow: hidden;
  z-index: 2;
  text-align: center;
  margin-bottom: 40px;
}

/* Logo */
h1.logo a:hover {
  color: #777;
    -webkit-transition:color 0.1s ease-in; 
    -o-transition:color 0.1s ease-in;
    -moz-transition:color 0.1s ease-in;
}

/* Navigation */

#nav {
  text-align:right;
  list-style-type: none;
}

#nav ul {
  display: none;
}

#nav h1.logo, h1.logo a {
  float:left;
  text-align:left;
  font-family: 'Roboto', sans-serif;
  font-weight:bold; 
  font-size: 32px;
  color: #FFF;
  margin-top: 30px;
  padding: 10px 0;
  text-align:left;
  border: none;
    -webkit-transition:color 0.1s ease-in; 
    -o-transition:color 0.1s ease-in;
    -moz-transition:color 0.1s ease-in;
}

#nav h2 {
  margin: 40px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight:500; 
  font-style:normal;
  font-size:14px;  
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:2px;
  color:#FFF;
  border:none;
}

/* ----------------------------------------------------------------------- */
/*  Styles for things when the menu is open                                */
/* ----------------------------------------------------------------------- */

.show-nav header {
    max-width: 1000px;
    margin-left: 30px;
    margin-right: auto;
    padding: 0 30px;
    transition: 0.3s;
}

.show-nav .header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  z-index: 10000;
}

/* fuckup-proofing */
.show-nav h2 {
  display: block !important;
}

.show-nav .content {
  display: none;
}

.show-nav #nav {
  text-align: right;
}

.show-nav #nav ul { /* Navigation list*/
  display: block;
  margin-top: 40px
}

.show-nav #nav ul.menu li {
  margin-bottom: 20px;
  text-align: center;
}

.show-nav #nav ul.mobile {
  margin-top: 40px;
  text-align: center;
}

.show-nav #nav ul.mobile li {
  font-size: 16px !important;
  text-align: center;
  list-style: none;
}

#nav ul.menu li { /* This is the mobile navigation */
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight:400; 
  font-style:normal;
  font-size:24px;  
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:6px;
  line-height: 160%;
  color:#FFF;
  border:none;
  display: block;
}

#nav ul.menu li a { /* Mobile navigation list */
  color:#888;
  border: none;
  list-style: none;
}

#nav ul.menu li a:hover,
#nav ul.mobile li a:hover {
  color:#666;
  -webkit-transition:color 0.1s ease-in; 
  -o-transition:color 0.1s ease-in;
  -moz-transition:color 0.1s ease-in;
}

#nav ul.mobile li a { /* This is the social mobile navigation */
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight:500; 
  font-style:normal;
  font-size:14px;  
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:2px;
  line-height: 150%;
  color:#888;
  border:none;
  margin-bottom: 10px;
  display: block;
  text-align: center;
} 

#nav ul li a.current {
  color: #FFF;
}

#nav ul li a.current:hover {
  color: #FFF;
}

.nav ul li a:hover { 
  text-decoration: none; 
  color: #777; 
  border-bottom: none;
  -webkit-transition:color 0.1s ease-in; 
  -o-transition:color 0.1s ease-in;
  -moz-transition:color 0.1s ease-in;
} 

.nav ul li:last-child {
    margin-right:0;
}

/* Articles */

#wrapper section article {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

#wrapper section article:last-child {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

#wrapper section article div.content {
  max-width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

#wrapper section article div.content div.title div.date {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #cdcdcd;
  
  font-size:13px;
  margin-bottom: 0px;
}

#wrapper section article div.content div.title h1,
#wrapper section article div.content div.title h2,
#wrapper section article div.content div.title h3,
#wrapper section article div.content div.title h4,
#wrapper section article div.content div.title h5,
#wrapper section article div.content div.title h6 {
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
  font-weight:400; 
  font-size: 24px;
  font-style:normal;
  color: #222;
  margin-bottom: 20px;
  line-height: 120%;
  -webkit-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -moz-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -o-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
}

#wrapper section article div.content div.title h1 a,
#wrapper section article div.content div.title h2 a,
#wrapper section article div.content div.title h3 a,
#wrapper section article div.content div.title h4 a,
#wrapper section article div.content div.title h5 a,
#wrapper section article div.content div.title h6 a {
  width: auto;
  display: inline-block;
  color: #111111;
  padding-bottom: 0px;
  border: none;
  -webkit-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -moz-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -o-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
}

#wrapper section article div.content div.title h1 a:hover,
#wrapper section article div.content div.title h2 a:hover,
#wrapper section article div.content div.title h3 a:hover,
#wrapper section article div.content div.title h4 a:hover,
#wrapper section article div.content div.title h5 a:hover,
#wrapper section article div.content div.title h6 a:hover {
  color: #cdcdcd;
  -webkit-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -moz-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -o-transition: color 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
}

#wrapper section article div.content div.title h1 a.post-permalink,
#wrapper section article div.content div.title h2 a.post-permalink,
#wrapper section article div.content div.title h3 a.post-permalink,
#wrapper section article div.content div.title h4 a.post-permalink,
#wrapper section article div.content div.title h5 a.post-permalink,
#wrapper section article div.content div.title h6 a.post-permalink {
  width: auto;
  font-size: 22px;
  position: relative;
  top: -2px;
  left: 4px;
}

/* Body Content */

#wrapper section article div.content #body {
  max-width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  line-height: 185%;
}

#wrapper section article div.content #body img,
#wrapper section article div.content #body iframe,
#wrapper section article div.content #body object,
#wrapper section article div.content #body video,
#wrapper section article div.content #body embed {
  max-width: 800px;
  float: left;
  margin-bottom: 30px;
}

#wrapper section article div.content #body p,
#wrapper section article div.content #body blockquote,
#wrapper section article div.content #body pre {
  word-wrap: break-word;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 185%;
}

#wrapper section article div.content #body pre {
  line-height: normal;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 38px;
}

#wrapper section article div.content #body blockquote {
  padding-left: 15px;
  margin-left: 15px;
  border-left: #e5e5e5 3px solid;
  font-style: italic;
  float: left;
}

#wrapper section article div.content #body blockquote p {
  max-width: 800px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#wrapper section article div.content #body p.introduction {
  font-style: italic;
}

#wrapper section article div.content #body p {
  max-width: 800px;
}

#wrapper section article div.content #body p:last-child {
  margin-bottom: 0px;
}

#wrapper section article div.content #body p img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float:inherit;
}

#wrapper section article div.content #body p img,
#wrapper section article div.content #body p iframe,
#wrapper section article div.content #body p object,
#wrapper section article div.content #body p video,
#wrapper section article div.content #body p embed {
  max-width: 800px;
  margin-bottom: 0px;
}

#wrapper section article div.content #body p a.read-more {
  border-bottom: solid 1px #2156ec;
    padding-bottom: 3px;
  
}

#wrapper section article div.content #body p a.read-more:hover {
  color: #17327f;
}

#wrapper section article div.content #body p a.read-more:after {
  content: "\2026";
}

#wrapper section article div.content #body h1,
#wrapper section article div.content #body h2,
#wrapper section article div.content #body h3,
#wrapper section article div.content #body h4,
#wrapper section article div.content #body h5,
#wrapper section article div.content #body h6 {
  font-family: 'Roboto', sans-serif;
  font-weight:normal; 
  font-style:normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

#wrapper section article div.content #body h1 {
  margin: 0 0 20px 0;
  font-size: 22px !important;
  font-weight: normal;
  line-height: 130%;
}


#wrapper section article div.content #body h2 {
  font-size: 25px;
}

#wrapper section article div.content #body h3 {
  font-size: 20px;
  letter-spacing: normal;
}

#wrapper section article div.content #body h4 {
  font-size: 18px;
  letter-spacing: normal;
}

#wrapper section article div.content #body h5 {
  font-size: 15px;
  letter-spacing: normal;
}

#wrapper section article div.content #body h6 {
  font-size: 12px;
  letter-spacing: normal;
}

#wrapper section article div.content #body hr {
  border-top: #e5e5e5 1px solid;
  margin-bottom: 30px;
}

#wrapper section article div.content #body ul {
  display: block;
  list-style-type: disc;
  padding-left: 56px;
  margin-bottom: 30px;
}

#wrapper section article div.content #body ul li {
  display: list-item;
  list-style-type: disc;
}

#wrapper section article div.content #body div.footnotes {
  margin-top: 30px;
}

#wrapper section article div.content #body div.footnotes p {
  font-size: 12px;
}

#wrapper section article div.content #body dl dt {
  font-weight: bold;
}

#wrapper section article div.content #body dl dd {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#wrapper section article div.content #body ol {
  display: block;
  list-style-type: decimal;
  padding-left: 56px;
  margin-bottom: 30px;
}

#wrapper section article div.content #body ol li {
  display: list-item;
}

#wrapper section article.index {
  border-bottom: #E7E7E7 1px solid;
}

#wrapper section article.index:last-child {
  border-bottom: none;
}

#wrapper section article.archive {
  margin-bottom: 26px;
  padding-bottom: 0px;
}

#wrapper section article.archive:last-child {
  margin-bottom: 46px;
  padding-bottom: 0px;
}

#wrapper section article.page {
  margin-bottom: 60px;
  padding-bottom: 60px;
}


/* Footer */

#wrapper section footer {
  max-width: 800px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper section footer p {
  padding-top: 45px;
  font-size: 13px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight:500; 
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 2px;
}

#wrapper section footer p strong {
  font-size: 14px;
  font-weight:normal; 
  font-style:normal;
  text-transform: uppercase;
}

/* Return Button */

#return-button {
  position: fixed;
  top: 80px;
  right: 35px;
  border: none;
  padding: 0px;
  display: none;
}

/* Pretty printing */

@import("prettify.css");


/* Tablet ——————————————––––––––––––––––––––——————————————————————————————————————— */

@media only screen and (min-width: 500px) { 
    
    #wrapper section article div.content {
      max-width: 800px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 30px;
    }

   #banner {
      height:200px;
      margin-bottom: 40px;
    }
  
    header {
      padding: 0 60px;
    }

  .header {
      height:200px;
      margin-bottom: 70px;
  }

  .swag-rollover:hover .hover > div {
    top: 42%;
  }

  .swag-rollover .hover > div {
    top: 42%;
  }

  #wrapper section article div.content div.title h1 {
    font-size: 32px;
  }

  /* Navigation */

  #nav h1.logo, h1.logo a {
     float: left;
     margin-top: 130px;
     margin-right: 30px;
     text-align: left;
  }

  #nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight:500; 
    font-style:normal;
    font-size:13px;  
    text-transform:uppercase;
    text-decoration:none;
    letter-spacing:1px;
    color:#888;
    border:none;
    display: block;
    padding: 10px 20px;
    -webkit-transition:color 0.1s ease-in; 
    -o-transition:color 0.1s ease-in;
    -moz-transition:color 0.1s ease-in;
  }

  .mobile {
    display: none !important;
  }

  #nav {
    float:left;
    text-align:left;
    list-style-type: none;
    margin-top: 135px;
    display: block;
  }

  #nav h2 {
    display: none;
  }
  
  #nav ul.menu {
    display: block;
  }
  
  #nav ul.menu li {
    font-size: 14px;
    float: left;
  }

  #wrapper section article div.content {
    padding: 0 60px;
  }
}
  
/* Small Desktop
————————————————————————————————————————————————————— */

@media only screen and (min-width: 768px) {

  /* Header Content */
  #banner {
      height:267px;
      margin-bottom: 80px;
  }

  .header {
      height:300px;
      margin-bottom: 100px;
  }

  #wrapper section article div.content div.title h1 {
    font-size: 36px;
  }

  /* Navigation */

  #nav {
    margin-top: 100px;
  }

   #nav h1.logo, h1.logo a {
     float: left;
     margin-top: 188px;
     margin-right: 58px;
     text-align: left;
   }

  #nav ul {
    list-style-type: none;
    margin-top: 92px;
    display: block;
  }

  #nav ul li a {
    letter-spacing: 2px;
  }

  header {
    max-width: 800px;
    transition: 0.3s;
  }    
}

/* Large Desktop
————————————————————————————————————————————————————— */

@media only screen and (min-width: 1120px) {
  
  /* Navigation */
  header {
      padding: 0 100px;
      max-width: 1000px;
      transition: 0.3s;
  }

  #wrapper section article div.content {
    padding: 0 100px;
  }
}


/* Animations ————————————————————————————————————————————————————— */

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}

.animated { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease;
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(30px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(30px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.animated2 { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease; 
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
} 


.animated_slowtile1 { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
} 

.animated_slowtile2 { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
} 

.animated_slowtile3 { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
} 

.animated_slowtile4 { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
} 
.animated_slowtile5 { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
} 

.animated_slowtile6 { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
} 
