
body, html {
	height: 100%
}


h1 {
	font-weight: bold;
	font-size: 40px;
}

/*
	Containers
*/

#content-wrapper, #example-wrapper {
	height: 100%;
}

.horizontal section, .horizontal section#titlechart{
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.horizontal section.demo.fullwidth {
	min-width: 100%;
}

/*
	OTHER
*/

#parallaxText {
	width: 0;
	height: 100%;
	margin: auto;
	position: relative;
}
#parallaxText .layer1, #parallaxText .layer2, #parallaxText .layer3 {
	position: absolute;
	font-size: 50px;
	line-height: 50px;
	margin-left: -150px;
	margin-top: -25px;
	width: 300px;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #133f71;
}
#parallaxText .layer1 {
	top: 48%;
}
#parallaxText .layer2 {
	top: 49%;
}
#parallaxText .layer3 a {
	display: block;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}


.dynamicContent #content {
	width: 390px;
	margin: auto;
	text-align: left;
}
.dynamicContent #content .box1 {
	margin: 10px;
}

.dynamicContent #loader {
	height: 0;
	overflow: hidden;
	line-height: 60px;
}
.dynamicContent #loader.active {
	height: 60px;
}
.dynamicContent #loader img {
	vertical-align: text-bottom;
}

#customactions {
	height: 160px;
	width: 170px;
	margin: auto;
	padding-top: 40px;
	text-align: left;
}
#customactions label {
	width: 100px;
	display: inline-block;
}
#customactions code {
	color: #3883d8;
}
#customactions a.viewsource {
	margin-top: 20px;
	display: block;
	text-align: center;
}
.demo.responsiveDuration {
	position: relative;
}
.responsiveDuration .box1 {
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -50px;
	margin-left: -50px;
}
#destroybox a {
	display: block;
	margin-top: 20px;
}
#destroybox a.disabled {
	color: #79b0ee;
}
#mobileadvanced {
	width: 150px;
	height: 150px;
}
#mobileadvanced p {
	margin-top: 50px;
}
#multiDirect {
	text-align: left;
	position: relative;
}
#multiDirect .box1 {
	left: 50vw;
	top: 200px;
	margin-left: -60px;
}
#multiDirect .box1 p:first-child {
	margin-top: 20px;
}

#imagesequence {
	height: 300px;
}

.copyright {
	font-variant: italic;
	font-size: 11px;
}

#bezier {
	overflow: hidden;
	position: relative;
}
#bezier #plane {
	position: absolute;
	left: -100px;
}
#bezier a.viewsource {
	margin: 100px;
	display: inline-block;
}

.demo#section-slides, .demo#section-wipes {
	height: 100%;
	width: 100%;
	background-image: none;
}
.demo#section-slides .panel, .demo#section-wipes .panel {
	background-image: url("../img/example_bg_spacer_v.gif");
}
.demo#section-wipes #pinContainer .turqoise, .demo#section-wipes #pinContainer .green, .demo#section-slides #slideContainer .panel {
	background-image: url("../img/example_bg_spacer_h.gif");
}
.demo#section-slides .panel > b, .demo#section-wipes .panel > b {
	font-size: 15px;
	color: white;
	position: relative;
	display: block;
	height: 0;
	overflow: visible;
	top: 50%;
}

